# Data Structures

### Lists

In [1]:
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [4]:
string_list = ['Black Panther', 'Steve Rogers', 'Tony Stank']
mixed_list = ['The Hulk', 5, 'Moon Knight', 3, 1, 'Dr. Doom']

print(mixed_list[2])

Moon Knight

In [5]:
len(mixed_list)

6

### Sets

In [ ]:
# All elements have to be unique in a set
my_set = {1, 2, 3, 4, 5}
print(my_set)

[1, 2, 3, 4, 5]

In [7]:
type(my_set)

list

In [8]:
new_set = {1, 1, 3, 4, 4}
print(new_set)

{1, 3, 4}

In [ ]:
# True eventhough they are not the same order 
{1, 2} == {2, 1}

True

### Tuples

In [11]:
# Tuples have a length, but can't append or add things to it
my_tuple = (1, 2, 3)
len(my_tuple)

3

In [13]:
(1, 3) == (3, 1)

False

In [12]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 6]

### Dictionaries

In [14]:
my_dictionary = {
    'apple' : 'A red fruit',
    'bear' : 'A brown animal'
}

In [16]:
my_dictionary['apple']

'A red fruit'

In [17]:
marvel_dict = {
    'Hulk' : 'Bruce Banner',
    'Mr.Fantastic' : 'Reed Richards',
    'Iron Man' : 'Tony Stark',
    'Black Panther' : 'T\'Challa'
}

In [19]:
print('Real name of  the Hulk is: ' + marvel_dict['Hulk'])

Real name of  the Hulk is: Bruce Banner