In [17]:
import math


# Strings

### Slicing

In [6]:
name = 'My name is Tony Stark'

In [7]:
name[0]

'M'

In [8]:
name[1]

'y'

In [12]:
# Gets the first 8 indexes in the string
name[0:7]

'My name'

In [13]:
# Can also do the other way around if you dont know the end of the string for example
name[11:]

'Tony Stark'

### Formatting

In [14]:
'My number is: ' + str(5)

'My number is: 5'

In [15]:
f'My number is {5}'

'My number is 5'

In [16]:
# String formatting, putting in expressions with { }
f'My number is {5}, and twice that is {2*5}'

'My number is 5, and twice that is 10'

In [19]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'